html{
    scroll-behavior: smooth;
}

#name{
    font-size: 60px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#name:hover{
    cursor: pointer;
}
.display-4.bold{
    font-weight: bold;
}
.jumbotron{
    color: white;
}

.background-home{
    background-image: url("img/Mark_Simpson4.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.background-about-me{
  background-color: white;
}
body, html {
  background-color: rgb(248, 243, 243);
    height: 100%;
    margin: 0;
  }

  .skills-page{
    background-color: rgb(2, 2, 74);
  }

  .square{
    position: absolute;
    bottom:0;
    right: 5px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: white;
    height:80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
border: 1px solid lightgray;
  }

.arrow {
    border: solid black;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  hr.vert{
    transform: rotate(90deg);
    -webkit-transform: (90deg);
  }



.square:hover{
    cursor: pointer;
  }


.fixed-nav-bar{
  display:none;
  position: fixed;
  width:150px;
  float: right;
  right: 5px;
  top:60px;
}

@media only screen and (max-width:800px){
  #fixed-nav-bar{
    display: none;
  }
}

@media only screen and (max-width:800px){
  .work-data{
    display:none;
  }
}


@media only screen and (max-width:700px){
  .square{
    width: 100%;
    right:0px;
  }
}
#box{
  background-color: blue;
}
.img-work-exp{
  height:125px;
}
.img-work-exp-stk{
  margin-left: 15px;
  margin-bottom: 20px;
  height: 80px;
}
.kalpa-img{
  height: 80px;

}
#submit-button{
  background-color: white;
  width: 50%;
}
#submit-button:hover{
  background-color: rgb(248, 243, 243);
  color:black;
}

.grey-background{
  background-color: white;
}
.active-navbar{
  background-color: white;
  color: yellow;
}
